
<header class="contactUs"></header>
<div class="container contact">
    <div class="jumbotron">
        <div class="container">
          <ngb-alert type="success" [dismissible]="false">
            A2A concerns for your future success not just to provide SDET Course!
          </ngb-alert>
      
          <h1>
            <i class="fa fa-bath" aria-hidden="true"></i>
            Learn SDET With Us!
          </h1>
        </div>
      </div>
      
      <div class="container">
        <p>
          A2A will help you to complete your progress:
          <ngb-progressbar showValue="true" type="success" [value]="65">
          </ngb-progressbar>
        </p>
      </div>
      
      <div class="container">
        <ngb-tabset>
          <ngb-tab title="Java advanced topics">
              <ng-template ngbTabContent>
                <p class="mt-4">Content for tab 1.
                  <button type="button"
                          class="btn btn-secondary"
                          placement="bottom"
                          ngbPopover="A popover in tab 1"
                          popoverTitle="Bacon is good">
                    Click me
                  </button>
                </p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Selenium Webdriver">
              <ng-template ngbTabContent>
                <p>Content for tab 2</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Selenium Grid">
              <ng-template ngbTabContent>
                <p>Content for tab 3</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="TestNG">
                <ng-template ngbTabContent>
                  <p>Content for tab 4</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Github">
                  <ng-template ngbTabContent>
                    <p>Content for tab 5</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Maven">
                    <ng-template ngbTabContent>
                      <p>Content for tab 6</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Jenkins">
                      <ng-template ngbTabContent>
                        <p>Content for tab 7</p>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Bash Scripting">
                        <ng-template ngbTabContent>
                          <p>Content for tab 7</p>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Docker">
                          <ng-template ngbTabContent>
                            <p>Content for tab 7</p>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Basic Java Spring Framework">
                            <ng-template ngbTabContent>
                              <p>Content for tab 7</p>
                            </ng-template>
                          </ngb-tab>
                          <ngb-tab title="Write a unit test">
                              <ng-template ngbTabContent>
                                <p>Content for tab 7</p>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Write an Integration Test">
                                <ng-template ngbTabContent>
                                  <p>Content for tab 7</p>
                                </ng-template>
                              </ngb-tab>
                    
          </ngb-tabset>
      </div>
</div>


