
<header class="contactUs">

</header>
<div class="container contact">
    <div class="jumbotron">
        <div class="container">
          <ngb-alert type="success" [dismissible]="false">
            <p>A2A concerns for your future success not just to provide Test Automation Course!
            Level up your Autiomation Skills with courses from A2A automate.</p>
          </ngb-alert>
      
          <h1>
            <i class="fa fa-bath" aria-hidden="true"></i>
            Learn Automation Testing With Us!
          </h1>
        </div>
      </div>
      
      <div class="container">
        <p>
          A2A will help you to complete your progress:
          <ngb-progressbar showValue="true" type="success" [value]="65">
          </ngb-progressbar>
        </p>
      </div>
      
      <div class="container">
        <ngb-tabset>
          <ngb-tab title="Java Basics">
              <ng-template ngbTabContent>
                <p class="mt-4">Content for tab 1.
                  <button type="button"
                          class="btn btn-secondary"
                          placement="bottom"
                          ngbPopover="A popover in tab 1"
                          popoverTitle="Bacon is good">
                    Click me
                  </button>
                </p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Selenium Webdriver">
              <ng-template ngbTabContent>
                <p>Content for tab 2</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Selenium Grid">
              <ng-template ngbTabContent>
                <p>Content for tab 3</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="TestNG">
                <ng-template ngbTabContent>
                  <p>Content for tab 4</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Github">
                  <ng-template ngbTabContent>
                    <p>Content for tab 5</p>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Maven">
                    <ng-template ngbTabContent>
                      <p>Content for tab 6</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Jenkins">
                      <ng-template ngbTabContent>
                        <p>Content for tab 7</p>
                      </ng-template>
                    </ngb-tab>
                    
          </ngb-tabset>
      </div>
</div>



<div class="container-fluid imgBackground">
    <div class="row">
         <div class="col-md-2"></div>
    </div>
</div>
<!-- Card -->



<!-- 
<div class="aboutUs">
<p style="text-align: justify;">Testing Concepts<br />
the course of your software testing trainings, 
you will also learn how to create automated tests using Selenium and NightwatchJS. 
These are two of the most common testing automation applications out there, and as such, essential for a software QA test and a software quality assurance certification.
</p>
</div>
-->