<header class="contactUs"> </header>
<div class="contact">
<section>
    <div class="container info">
      <h4> Who this course is for</h4>
      <ul>
        <li>
          <p>Manual testers, Non-programming aware testers interested in learning Automation</p>
        </li>
        <li>
            <p>Freshers/Graudates who want to kick start their Carrier in IT World</p>
          </li>
      </ul>
       
      <p> The following topics will be covered in Test Automation classes</p>
      <ul>
         <li> Selenium Webdriver- Major focus (20 hours+ content)</li>
          
         <li>Live Examples in Automating Web applications in all supported Browsers</li>
          
         <li>Strategy to handle Rich Web UI using Advanced WebDriver</li>
          
         <li> Real time challenges we face in WebDriver and solutions to handle it</li>
          
         <li>Selenium Grid</li>
          
         <li>Live projects on Selenium</li>
          
         <li>Interview questions discussion with solutions</li>
          
         <li> TestNG</li>
          
          <li>Maven</li>
          
          <li>Gradlew</li>
          
          <li>Jenkins</li>
          
          <li>Log4j</li>
          
          <li>Test Execution reports</li>
          
          <li> Cucumber</li>
          
          <li>Data driven framework</li>
          
          <li>Hybrid Framework</li>
          
          <li>Page object Model Framework</li>
          
          <li>DataBase testing with Selenium
          
          <li>Performance testing with Selenium
          
          <li>Mobile Automation basics only!
          
          <li>CLoud Automation with Sauce labs
          
          <li>Framework Design from scratch ( TestNG, ANT, PageObject, Maven, Jenkins, Excel , Datadriven, Cucumber, log4j ,Client
          html reports)</li>
          <li>Final Project</li>
      </ul>
  
    </div>
  </section>
</div>

<!-- Card -->



<!-- 
<div class="aboutUs">
<p style="text-align: justify;">Testing Concepts<br />
the course of your software testing trainings, 
you will also learn how to create automated tests using Selenium and NightwatchJS. 
These are two of the most common testing automation applications out there, and as such, essential for a software QA test and a software quality assurance certification.
</p>
</div>
-->