<header class="aboutUs"></header>
<div class="card text-center info">
    <div class="card-header" id="list-example">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="about-us">COURSE OVERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us">TRAINING OPTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us">CURRICULUM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about-us">UPCOMING BATCHES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about-us">CERTIFICATION</a>
        </li>  
      </ul>
    </div>

  <div class="card-body text-left">
      <section class="course-overview" id="course-overview">
          <div class="container">
              <div class="row">
                  <div class="col-md-9">
                      <h2 class="section-heading">QA Course Overview</h2>
                      
                      <p class="readmore">App2Automate Quality assurance (QA) Training that helps participants to understand the core concepts of Software Testing and Information Technology that helps them excel as a Quality Assurance Professional. QA Course also covers physical products in pre-production, determining defects in manufactured products and preventing them,  during manufacturing, and production, Sandbox Environment Vs Production Environmen, SDLC-Software Development Life Cycle, Overview of Mantis Bug Tracker. You’ll learn how to decipher application of static and dynamic techniques, perform boundary value analysis, conduct walk-through and audits, organize test development processes as well as create a quality analysis and test plan. </p>
                  </div>
                  <div class="col-md-3 tools_covered"></div>
                  <div class="clearfix"></div>
  
                 </div>
            </div>
     </section>

     <section>
       <div class="card-body text-center">
         <h2> Mode of Training</h2>
       

       <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="custom-column">
                <div class="custom-column-header">Self-Paced Learning</div>
                <div class="custom-column-content">
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-check"></i> High Quality videos built by industry experts with theory and demonstration of features and tasks of the QA</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Learn at your Convenience.</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> You get pre-defined recordings</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Fixed Course Content</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Certification Guidance Provided</li>
                  </ul>
                </div>
                <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="custom-column">        
                <div class="custom-column-header">Instructor-led Training</div>
                <div class="custom-column-content">
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-check"></i> Live Presentation of theory and demonstration of features and tasks of the QA</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> You get recordings of each training session that you attend.</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Delivered through ZOOM Meeting</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Real world Project</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Interview Questions and Resume building</li>
                  </ul>
                </div>
                <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="custom-column">
                <div class="custom-column-header">For Business</div>
                <div class="custom-column-content">
                  <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-check"></i> F2F interactive presentation of theory and demonstration of features and tasks of the QA</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Learn as per full day schedule with discussions & exercises.</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> No recordings available, however you can choose self-paced video if needed.</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Completely Customizable Course Content & Schedule</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Certification Guidance Provided.</li>
                  </ul>
                </div>
                <div class="custom-column-footer"><button class="btn btn-primary btn-lg">Click here</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </section>

     <!-- End of Curriculum-->
     <section> 
        <!-- Curriculum Section-->
      <div class="card-body text-left">
            <h2> Curriculum</h2>
      <ngb-accordion #acc="ngbAccordion">
         <ngb-panel id="intro" title="Introduction">
           <ng-template ngbPanelContent>
              <p style="text-align: justify;">Testing Concepts<br />
              Why become a QA Tester?<br />
              Roles and Responsiblities of QA Tester<br />
              Characteristics of a Successful Tester<br />
              Why Software Testing is important?<br />
              Client Application Vs Web(Server) Applications<br />
              Birth of a Project<br />
              SDLC-Software Development Life Cycle<br />
              V-Model<br />
              Waterfall, AGILE, RUP etc.<br />
              BRD-Business Requirement Document<br />
              FRD-Functional Requirement Documents<br />
              System Design Specification<br />
              Interview Questions and Mock Interview Preparation<br />
              Home Assignment</p>
           </ng-template>
         </ngb-panel>

         <ngb-panel id="strategy" title="Testing Strategy">
           <ng-template ngbPanelContent>
              <p style="text-align: justify;">How to write a Test Plan?<br />
                Understanding Test Scenerios?<br />
                How to write Test Case?<br />
                How to write Test Scripts?<br />
                Testing Types: Positive and Negative Testing<br />
                Test Summary Report<br />
                Software Testing Life Cycle (STLC)<br />
                Traceability Matrix<br />
                Types of Testing Methodologies<br />
                Testing Standards<br />
                Test Strategy and Planning<br />
                Sandbox Environment Vs Production Environment<br />
                Test Data and Test Execution<br />
                Test Logs and Reports<br />
                Severity Vs. Priority<br />
                Manual Testing Vs. Automated Testing<br />
                Testing Tools<br />
                Quality Assurance Vs Quality Check<br />
                Interview Questions and Mock Interview Preparation<br />
                Home Assignment</p>
           </ng-template>
         </ngb-panel>
         <ngb-panel id="toggle-3" title="Testing Techniques">
            <ng-template ngbPanelContent>
                <p>Black Box Testing<br />
                  White Box Testing<br />
                  HA Testing<br />
                  API Testing</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="toggle-4" title="Test Case development">
              <ng-template ngbPanelContent>
                  <p>How to write Test Cases using Google Excel sheet?<br />
                    How to write Test Cases in Test Rail , HP Quality Center (QC)<br />
                    Test Cases on Different Domains</p>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-5" title="Testing Types">
                <ng-template ngbPanelContent>
                    <p style="text-align: justify;">Unit Test<br />
                      Integration Test<br />
                      System Test<br />
                      Regression Test<br />
                      Functionality Test<br />
                      Load / Performance Test<br />
                      Stress Test<br />
                      Compatibility Test<br />
                      User Acceptance Test<br />
                      Smoke Test<br />
                      Sanity Test<br />
                      Backend Test<br />
                      Security Test<br />
                      Browser Compatibility Test<br />
                      Automated Testing and Automated Testing Tools<br />
                      Interview Questions and Mock Interview Preparation<br />
                      Home Assignment</p>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="toggle-6" title="Bug And Defect Reporting Process">
                  <ng-template ngbPanelContent>
                      <p style="text-align: justify;">DLC &ndash; Defect Life Cycle<br />
                        Defect Management<br />
                        Defect Tracking<br />
                        Understanding Priority and Severity<br />
                        Defect Report &ndash; Through JIRA,or HP Quality Center<br />
                        Group Project<br />
                        Impact Analysis</p>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="toggle-7" title="Structured Query Language (SQL)">
                    <ng-template ngbPanelContent>
                        <p style="text-align: justify;">What is Database?<br />
                          What is Relation Database Management System?<br />
                          Normalizations<br />
                          What is SQL<br />
                          Primary Key, Foreign Key and constraints<br />
                          Data Definition Language (DDL)<br />
                          Data Control Language (DCL)<br />
                          Data Manipulation Language (DML): SELECT, UPDATE, DELETE, INSERT, DISTINCT, WHERE, LIKE Conditions<br />
                          Sorting<br />
                          Operators and Operand<br />
                          SQL IN Clause<br />
                          SQL BETWEEN Clause<br />
                          SQL JOINS Clause<br />
                          SQL GROUP BY and HAVING Clause<br />
                          SQL VIEWS<br />
                          Data Definition Language (DDL)</p>
                          <p style="text-align: justify;">CREATE TABLE<br />
                            ALTER TABLE<br />
                            DROP TABLE</p>
                          <p style="text-align: justify;">Interview Questions and Mock Interview Preparation<br />
                              Home Assignment</p>   
                          
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="toggle-8" title="Basic Programming Concept">
                      <ng-template ngbPanelContent>
                          <p>Variables<br />
                            Operators<br />
                            Comparison<br />
                            IF&hellip;Else<br />
                            Loops<br />
                            OOPS concepts<br />
                            Try&hellip;Catch</p>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="toggle-9" title="Introduction to Selenium Automation Testing">
                        <ng-template ngbPanelContent>
                            <p>What is Selenium IDE<br />
                              Web element Selectors<br />
                              Selenium Webdriver <br />
                              How to create test script using java and selenium<br />
                              Exercises and solutions<br />
                              Introduction to TestNG<br />
                              Introduction to Selenium Grid<br />
                              Project</p>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel id="toggle-10" title="HP Quality Center (QC)">
                          <ng-template ngbPanelContent>
                              <p>Overview of Quality Center<br />
                                FULL WORKING KNOWLEDGE<br />
                                Modules: Requirements, Test Plan, Test Lab and Defects<br />
                                Interview Questions and Mock Interview Preparation<br />
                                Home Assignment</p>
                          </ng-template>
                        </ngb-panel>

                        <ngb-panel id="toggle-11" title="Quick Test Professional (QTP)">
                            <ng-template ngbPanelContent>
                                <p style="text-align: justify;">Why to Automate?<br />
                                  Overview of QTP<br />
                                  Installation<br />
                                  Record and Playback Scripts<br />
                                  Object Identification and Object Spy<br />
                                  Synchronizing Tests<br />
                                  Standard and Text Checkpoints<br />
                                  Parameterize Tests<br />
                                  Data Driven Tests<br />
                                  Local and Global Data Tables<br />
                                  FULL WORKING KNOWLEDGE<br />
                                  Interview Questions and Mock Interview Preparation<br />
                                  Home Assignment</p>
                            </ng-template>
                          </ngb-panel>

                          <ngb-panel id="toggle-12" title="JMETER / performance Testing">
                              <ng-template ngbPanelContent>
                                  <p style="text-align: justify;">Overview of JMETER<br />
                                    What is Performance Test<br />
                                    Types of Performance Test</p>
                                    Available Performance Testing tools</p>
                                    
                                    <p style="text-align: justify;">Load Testing<br />
                                    Volume Testing<br />
                                    Stress Testing etc.</p>
                                    
                                    <p style="text-align: justify;">Architecture<br />
                                    Installation<br />
                                    Jmeter Scripts<br />
                                    Components of JM</p>
                                    
                                    <p style="text-align: justify;">Virtual User Generator (VuGen)<br />
                                    Controller<br />
                                    Result Analysis</p>
                                    
                                    <p style="text-align: justify;">Parameterization, Actions, Correlation etc.<br />
                                    Why JM?<br />
                                    Home Assignment</p>
                              </ng-template>
                            </ngb-panel>

                            <ngb-panel id="toggle-13" title="Introduction to DEVOPS">
                                <ng-template ngbPanelContent>
                                    <p>Overview of GITHUB<br />
                                      Maven as building tool<br />
                                      Continous Integration (CI) tools<br />
                                      Jenkins and Bamboo <br />
                                      Concepts on Build Artifacts and Packaging</p>
                                </ng-template>
                              </ngb-panel>
       </ngb-accordion>
       
       <hr/>
       
      </div>
      </section>
  
      
     
  </div>  

  <!-- Call to Action Section -->
  <section class="page-section bg-info text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download Our Course Guid!</h2>
        <a class="btn btn-light btn-xl" routerLink="about-us">Download Now!</a>
      </div>
  </section>

</div>


     
      


      
