/* about-us.component.scss */

@import '~@fortawesome/fontawesome-free/css/all.min.css';

//@import '../../../../../startbootstrap-creative/vendor/magnific-popup/magnific-popup.css';

@import '../../content/css/creative.css';

.aboutUs {
  padding-top: 5rem;
  background-color: #166cc2;
}
.card-body {
  padding-top: 5rem;
}
$primary-color: #ccc;
$col-bg-color: #eee;
$col-footer-bg-color: #eee;
$col-header-bg-color: #007bff;
$col-content-bg-color: #fff;

.custom-column {
  background-color: $col-bg-color;
  border: 5px solid $col-bg-color;
  padding: 10px;
  box-sizing: border-box;
}

.custom-column-header {
  font-size: 24px;
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}

.custom-column-content {
  background-color: $col-content-bg-color;
  border: 2px solid white;
  padding: 20px;
}

.custom-column-footer {
  background-color: $col-footer-bg-color;
  padding-top: 20px;
  text-align: center;
}

h3 {
  padding-top: 10px;
}
h2 {
  padding-bottom: 10px;
}
section.lastsection {
  padding-bottom: 20px;
}
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.info {
  padding-top: 3rem;
  //padding-bottom: calc(10rem - #{$navbar-height});
  padding-bottom: 2p;
  // replace the masthead.jpg image in the /img directory to change the image
  // if the image name change, make sure to update the url path below!
  background: linear-gradient(90deg, rgb(158, 132, 15) 0%, rgb(206, 210, 221) 35%, rgb(213, 220, 221) 100%),
    url('../../content/images/info-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
